<html>
<h1>Aces Up</h1>
<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<script>
$.getJSON( "/AcesUp/state.json", function( board ) {
    $.each(board.state,
        function( i, row ) {
            $.each(row,
                function( j, cardState) {
                console.log('#c'+(j+1)+'.l'+i);
                $('#c'+j+' .l'+i).text(cardState.toString());
            });
    });
});

$.getJSON( "/AcesUp/deal.json", function( board ) {
    $.each(board.deal,
        function( i, row ) {
            $.each(row,
                function( j, cardState) {
                console.log('#c'+(j+1)+'.l'+i);
                $('#c'+j+' .l'+i).text(cardState.toString());
            });
    });
});
</script>


<body>
<table>
    <tr class="title">
        <td>Column0</td>
        <td >Column1</td>
        <td >Column2</td>
        <td >Column3</td>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
    </tr>
</table>

<button id="dealButton">Deal</button>
<button id="swap1">Swap Row 1</button>
<button id="swap2">Swap Row 2</button>
<button id="swap3">Swap Row 3</button>
<button id="swap4">Swap Row 4</button>

<br>
<button id="initDeck">init</button>
<button id="removeCardButton">remove card</button>
<div id="disp"></div>

<script>

var deck;

function display(data) {
$( '#disp' ).html("");
  $.each(data.cards, function( key, value ) {
    $( '#disp' ).append("Value: " +value.value+ "; Suit: " +value.suit+ "<BR>");
  });
}

$.getJSON("/AcesUp/init", function( data ) {
display(data);
deck = data;
});

$("#initDeck").click(function(){
    $.ajax({
      type: "GET",
      url: "/AcesUp/init",
      data: JSON.stringify(deck),
      success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            deck = data;
            display(data);},
      contentType:"application/json; charset=utf-8",
      dataType:"json",
    });
});

$("#removeCardButton").click(function(){

/* deck.action = "add";
deck.item = $("#txt_name").val(); */

$.ajax({
  type: "POST",
  url: "/AcesUp/removeCard",
  data: JSON.stringify(deck),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        deck = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});


});

</script>

</body>
</html>