<html>
<h1>Aces Up</h1>
<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<script>

//Runs at startup
$.getJSON( "/AcesUp/state.json", function( board ) {
    $.each(board.state,
        function( i, row ) {
            $.each(row,
                function( j, cardState) {
                $('#c'+j+' .l'+i).text(cardState.toString());
            });
    });
});

//The deal button function
$(document).ready(function(){
    $('#dealButton').click(function(){
        $.getJSON( "/AcesUp/deal.json", function( board ) {
            $.each(board.state,
                function( i, row ) {
                    $.each(row,
                        function( j, cardState) {
                        $('#c'+j+' .l'+i).text(cardState.toString());
                    });
            });
        });
    });
});

//The score button function
$(document).ready(function(){
    $('#scoreButton').click(function(){
        $.getJSON( "/AcesUp/score.json", function( board ) {
            $.each(board.state,
                function( i, row ) {
                    $.each(row,
                        function( j, cardState) {
                        $('#c'+j+' .l'+i).text(cardState.toString());
                    });
            });
        });
    });
});


</script>


<body>
<table>
    <tr class="title">
        <td>Column 0</td>
        <td >Column 1</td>
        <td >Column 2</td>
        <td >Column 3</td>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
            </table>
        </td>
    </tr>
</table>

<button id="dealButton">Deal</button>
<button id="swap1" onclick="swap(0)">Swap Row 1</button>
<button id="swap2" onclick="swap(1)">Swap Row 2</button>
<button id="swap3" onclick="swap(2)">Swap Row 3</button>
<button id="swap4" onclick="swap(3)">Swap Row 4</button>
<button id="scoreButton">Score</button>

<br>
<button id="initDeck">init</button>
<button id="removeCardButton">remove card</button>
<div id="disp"></div>

</body>
</html>