<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<table>
    <tr class="title">
        <td>Column1</td>
        <td >Column2</td>
        <td >Column3</td>
        <td >Column4</td>
    </tr>

    <tr><td class="columnOfCards" id="c1">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c4">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
            </table>
        </td>
    </tr>
</table>

<button id="dealButton">Deal</button>


</body>
</html>